*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: rgb(193, 200, 214);
    margin: 0 auto;
}

#start-button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid darkgray;
    cursor: pointer;

}

.navbar{
    height: 70px;
    background-color: rgb(148, 166, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 0 3px 5px rgb(71, 71, 71);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 600px;
    justify-content: center;
}

.cell {
    height: 10%;
    width: 10%;
    text-align: center;
    line-height: 60px;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
    border: 1px solid black;
}

.cell.medium-cell {
    width: calc(100% / 9);
    line-height: calc(600px / 9);
}

.cell.hard-cell {
    width: calc(100% / 7);
    line-height: calc(600px / 7);
}

.cell.clicked {
    background-color: dodgerblue;
}

.cell.bomb.clicked {
    background-color: red;
}

#result {
    text-align: center;
    font-size: 30px;
}